# Binarios compilados
/control_horario
control_horario.exe

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno (buena práctica para el futuro)
.env